@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Malgun Gothic";
}
::-webkit-scrollbar{
    width:5px;
  }
  ::-webkit-scrollbar-track{
    background:#fff;
  }
  ::-webkit-scrollbar-thumb{
    width:2px;
    background: #1C1C1C;
    border-radius: 30px;
  }
header{
    width:100%;
    height:12vh; 
}
.header-section{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
    height:12vh;
    background-color:#F8F8FF;
    box-shadow: 0px 3px 6px #00000029;
    position: fixed; 
}
.logo{
    width:150px;
}
nav{
    width:800px;
}
.homelist{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    list-style:none;
}
.header-item{
    text-transform:uppercase;
    font-weight:bold;
}
.header-item:hover{
    cursor:pointer;
    color: gold;
}
main{
    width:100%;
}
.doggyhouse-section{
    background-image: url('img/Banner.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:47rem;
}
.section-text{
    height: 68vh;
    width:50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-text{
    width:40vw;
    height:34vh;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    color:#6D4545;
}
h1{
    font-size:2.5em;
    font-weight:900;
}
.doghouse-h2{
    font-weight:500;
    font-size:1.9rem;
}
.div-text p{
    width:77%;
    font-size:0.9em;
}
.btn1{
    width:30%;
    height:6vh;
    border:none;
    border-radius: 5px;
    background-color: #FEAF02;
    color:white;
    font-size: 1.2em;
    cursor:pointer;
    margin-top: 1vh;
    transition: 1s all;
}
.btn1:hover{
    transform: scale(1.1);
}
.dogs{
    width:100%;
    height:50vh;
    display: flex;
    align-items:center;
    justify-content:center;
}
.dog1{
    width:12vw;
    height:35vh;
    overflow: hidden;
}
.container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:60vw;
    height:42vh;
}
.dog1 img{
    width:12vw;
}
.title{
    color:#373737;
    font-size:1.1rem;
    text-align:center;
    font-weight:bold;
    padding-bottom:1vh;
}
.btn2{
    background-color:#FEAF02;
    border:none;
    width:10vw;
    height:5vh;
    color:white;
    margin-left:1vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}
.btn2:hover{
    background-color: #373737;
    transform: scale(1.1);
}
.why-section{
    background-image:url('img/Banner\ why.png');
    width:100%;
    height:32em;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color:#373737;
}
.div-whydog{
    width:50vw;
    height:67vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.div-textwhy{
    width:30vw;
    height:40vh;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.div-textwhy p{
    width:87%;
}
.div-textwhy ul{
    list-style:none;
}
.div-textwhy ul img{
    width:15px;
}
.video-section{
    background:#FEAF02;
    width:100%;
    height:32em;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.video-section h2{
    color:white;
    font-size: 2rem;
    font-weight: 300;
}
.video-div{
    width:70vw;
    height:50vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.white{
    background-color: #ffff;
    width:30vw;
    height:44.7vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:2vh;
}
.white p{
    font-size:1.3rem;
    margin: 2vh auto; 
    color: #373737;
}
.pessoa{
    background-image:url('img/pexels-norbert-kundrak-1677533.png');
    background-image:cover;
    background-position:center;
    background-repeat: no-repeat;
    width:29.5vw;
    height:17rem;
    margin-top:0.5vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.pessoa2{
    background-image:url('img/pexels-dominika-roseclay-1139793.png');
    background-image:cover;
    background-position:center;
    background-repeat: no-repeat;
    width:29.5vw;
    height:17rem;
    margin-top:0.5vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.play{
    cursor: pointer;
}
footer{
    width:100%;
    height:32em;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    background-color:#3C4049;
    color:#FFFFFF;
}
.foot-section{
    width:70vw;
    height:30vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.foot-section figure{
    width:7vw;
    height:15vh;
}
.location{
    width:12vw;
    height:28vh;
}
.location p{
    font-size:1rem;
    padding-top:0.6vh;
}
.h2foot{
    margin-bottom:2.2vh;
    font-size:1.2rem;
}
.care{
    width:15vw;
    height:28vh;
}
.care ul{
    list-style:none;
    font-size:1rem;
    padding-top:0.6vh;
}
.links{
    width:12vw;
    height:28vh;
}
.links ul{
    list-style:none;
    font-size:1rem;
    padding-top:0.6vh;
}
.socials{
    width:12vw;
    height:28vh;
}
.socials ul{
    list-style:none;
    font-size:1rem;
    padding-top:0.6vh;
}
.copyright{
    width:100%;
    background-color:#2E2F34;
    color:white;
}